<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/camera_aruco_file_paths" />
        </provider>

        <activity
            android:name=".CameraArucoActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="dev.hehe.sketch.action.SKETCH_ENTRY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="dev.hehe.sketch.entry.TITLE"
                android:value="@string/camera_aruco_title" />
            <meta-data
                android:name="dev.hehe.sketch.entry.SUMMARY"
                android:value="@string/camera_aruco_entry_summary" />
            <meta-data
                android:name="dev.hehe.sketch.entry.ORDER"
                android:value="20" />
            <meta-data
                android:name="dev.hehe.sketch.entry.MODULE"
                android:value="feat-camerax-aruco" />
        </activity>
    </application>

</manifest>
