<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.hehe.sketch.feature.showcase">

    <application>
        <activity
            android:name=".ShowcaseActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="dev.hehe.sketch.action.SKETCH_ENTRY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="dev.hehe.sketch.entry.TITLE"
                android:value="Showcase Sandbox" />
            <meta-data
                android:name="dev.hehe.sketch.entry.SUMMARY"
                android:value="A sample feature module proving that manifest-registered activities can appear on the app home automatically." />
            <meta-data
                android:name="dev.hehe.sketch.entry.ORDER"
                android:value="10" />
            <meta-data
                android:name="dev.hehe.sketch.entry.MODULE"
                android:value="feature-showcase" />
        </activity>
    </application>

</manifest>
